@font-face {
  font-family: "Days One ";
  src: url("../fonts/daysone/DaysOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
    font-weight: 500;
}
